div#seccion-25.side-nav
    div.row
      div.col.s8.col-center.escenario.brown.darken-4.z-depth-2
        p.center-align.white-text ESCENARIO PRINCIPAL
      button.btn.btn-floating.transparent.close-btn(data-close="25")
        i.material-icons.grey-text close
    div.row
      span.badge-seccion.white-text Sección 25
    div.row
      div.col.s12.flex-center
        - for (var i = 1; i <= 10; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 11; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 12; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 13; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 14; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 15; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 16; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
      div.col.s12.flex-center
        - for (var i = 1; i <= 17; i++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{i}")
            | #{i}
