div#seccion-26.side-nav
    div.row
      div.col.s8.col-center.escenario.brown.darken-4.z-depth-2
        p.center-align.white-text ESCENARIO PRINCIPAL
      button.btn.btn-floating.transparent.close-btn(data-close="26")
        i.material-icons.grey-text close
    div.row
      span.badge-seccion.white-text Sección 26
    div.row
      div.col.s12.flex-center
        - var j = 109
        p
          b.pr-30 A  
        - for (var i = 1; i <= 10; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 B
        - for (var i = 1; i <= 11; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 C
        - for (var i = 1; i <= 12; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 D
        - for (var i = 1; i <= 13; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 E
        - for (var i = 1; i <= 14; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 F
        - for (var i = 1; i <= 15; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 G
        - for (var i = 1; i <= 16; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}
      div.col.s12.flex-center
        p
          b.pr-30 H
        - for (var i = 1; i <= 17; i++, j++)
          div.asiento.libre.hoverable.flex-center(data-blocked="false" data-taquilla="" id="#{j}")
            | #{i}